@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Fraud Detection Example</h1>
    <p>
        Welcome to the Fraud Detection Example showcasing the
        <a href="https://www.nuget.org/packages/GuardianDevelopment.NeuralNetworks.Library/">Neural Network Library</a>.
    </p>
</div>