@page
@model PerformPredictionsModel
@{
    ViewData["Title"] = "Prediction page";
}

<div>
    <h1>Perform Network Predictions</h1>
    <form method="POST">
        <button asp-page-handler="predict" type="submit" class="btn btn-primary">Predict</button>
    </form>
</div>